<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
  <servlet-name>proxyServlet</servlet-name>
  <servlet-class>
    org.loran.gwt.server.ProxyServlet
  </servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>proxyServlet</servlet-name>
  <url-pattern>/proxy</url-pattern>
</servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>dynaTraceWebReporter.html</welcome-file>
  </welcome-file-list>

</web-app>